aiodns==3.5.0
annotated-types==0.7.0
cffi==2.0.0
click==8.2.1
colorama==0.4.6
dotenv==0.9.9
markdown-it-py==4.0.0
mdurl==0.1.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycares==4.11.0
pycparser==2.23
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
python-dotenv==1.1.1
redis==6.4.0
rich==14.1.0
shellingham==1.5.4
slixmpp==1.11.0
typer==0.17.4
typing-inspection==0.4.1
typing_extensions==4.15.0
